* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --color-background: #fae6fae6;
    --color-text: #000000bf;
    --color-button: #ee82ee;
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
    padding: 60px 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 140px;
}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 600;
}

.div-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 30px;
}

.button-text {
    font-weight: 600;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
}

.main-start {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-start {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-icon {
    position: absolute;
    width: 25px;
    right: 275px;
}

input {
    all: unset;
    box-sizing: border-box;
    font-weight: 500;
    border: 2px solid var(--color-text);
    border-radius: 4px;
    height: 30px;
    padding: 5px 0 5px 30px;
    font-size: 18px;
}

.not-found {
    margin-top: 100px;
    align-self: center;
    border: 1px solid var(--color-text);
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 22px;
}

.return {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    align-self: center;
    margin-bottom: 30px;
    background-color: var(--color-button);
    color: var(--color-text);
    padding: 5px 20px;
    border-radius: 4px;
}

.return:hover {
    opacity: 0.8;
}

.main-cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--color-text);
    border-radius: 4px;
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
}

.cat-image {
    max-height: 250px;
    max-width: 300px;
    cursor: pointer;
}

.breed-name, .attributes span {
    font-weight: 600;
    font-size: 18px;
}

.back-top {
    display: flex;
    background-color: #6c29aa;
    border: 2px solid var(--color-text);
    border-radius: 4px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 35px;
}

.modal {
    background: rgba(0, 0, 0, 0.82);
    position: fixed;
    top: 0;
    right: 0;    
    bottom: 0;    
    left: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.modal-div {
    color: #fae6fae6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.close-modal {
    cursor: pointer;
    align-self: flex-end;
    margin: 50px 50px 30px;
    width: 30px;
}

.modal-img {
    max-height: 400px;
    max-width: 500px;
    margin-bottom: 30px;
}

.modal-span {
    font-size: 22px;
    font-weight: 700;
}

.modal-p {
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 700px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    gap: 20px;
    margin-bottom: 30px;
}

.attributes span {
    background-color: #6c29aa;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 18px;
}

.hidden {
    display: none;
}